@import './helper.scss';

.about {
  &-carousel {
    overflow: hidden;
    width: 70vw;

    &-item {
      padding: {
        top: 30px;
        bottom: 30px;
      }
    }
  }

  &-buttons {
    margin-top: 30px;
  }

  &-title {
    margin-bottom: 4px;
  }

  &-wrapper {
    position: relative;
  }
}

.button {
  width: 30px;
  height: 30px;
  line-height: 40px;
  border-radius: 15px;
  margin: {
    left: 8px;
    right: 8px;
  }

  background-color: rgb(40, 40, 40);
  &.active {
    background-color: grey;
  }

  &:hover {
    cursor: pointer;

    &.inactive {
      background-color: rgb(50, 50, 50);
    }
  }
}

.video {
  &-text {
    position: absolute;
    font: {
      size: 50px;
      family: $arvo;
    }
    padding: {
      left: 5px;
      right: 5px;
    }
    left: 15px;

    @include mobile {
      font-size: 16px;
    }

    &-up {
      top: 10px;
      @include mobile {
        top: -30px;
      }
    }

    &-down {
      bottom: 10px;
      @include mobile {
        bottom: -30px;
      }
    }
  }
}
