@import './helper.scss';

.buy {
  &-title {
    margin-bottom: 40px;
  }

  &-image {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  &-button {
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgb(40, 40, 40);
  }

  &-description {
    white-space: pre-wrap;
  }
}
