@import './helper.scss';

#apply {
  position: fixed;
  right: 10px;
  bottom: 10px;

  @include size(100px, 40px);
  line-height: 40px;

  border: 2px solid rgb(50, 50, 50);
  border-radius: 15px;
  background-color: rgb(40, 40, 40);

  z-index: 10;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
