@import './helper.scss';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include size(100vw, $header-height);
  z-index: 10;
  transition: all 0.4s ease-in-out;

  &-logo {
    width: 100px;
    margin: 0 10px;
  }

  &-lang {
    background: none;
    border: none;
    color: white;
  }

  &-buttons {
    font-size: 20px;
    font-weight: 400;
    font-family: $arvo;
    color: white;
  }

  &-scrolled {
    background: rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}

.dropdown-content {
  background: rgb(20, 20, 20);
  border-radius: 10px;
}
