$arvo: Arvo, 'Noto Sans KR', sans-serif;
$sans: 'Noto Sans KR', sans-serif;
$josefin: 'Josefin Sans', 'Noto Sans KR', sans-serif;
$header-height: 64px;

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin res($property, $desktop, $mobile) {
  #{$property}: $desktop;

  @include mobile {
    #{$property}: $mobile;
  }
}

@mixin row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

@mixin col {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

@mixin page-title {
  color: white;
  width: 100%;
  text-align: center;
  @include res(font-size, 50px, 30px);
  font: {
    weight: 900;
    family: $josefin;
  }
}

@mixin page-padding {
  padding: {
    top: 150px;
    bottom: 150px;
  }

  @include mobile {
    padding: {
      top: 100px;
      bottom: 100px;
    }
  }
}

@mixin size($w, $h) {
  width: $w;
  height: $h;
}
