@import './helper.scss';

.home {
  @include col;
  @include size(100%, 100vh);

  &-image {
    @include size(90vw, calc(100vh - $header-height - 40px));
    margin-top: 20px;

    border-radius: 20px;
    display: block;

    object-fit: cover;
    transition: scale 0.6s ease-in-out;
  }

  &-text {
    font: {
      size: 50px;
      weight: 400;
      family: $arvo;
    }

    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    @include res(transform, translate(-50%, -75%), translate(-50%, -50%));
    z-index: 5;
    white-space: pre-line;
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }

  &-scrolled {
    scale: 0.8;
  }
}
