@import './helper.scss';

$card-width: 200px;
$card-margin: 10px;

.partner {
  @include col;
  @include size(200px, 300px);

  margin: 0 $card-margin;
  background: none;

  &-image {
    width: $card-width;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
  }

  @include mobile {
    width: 40vw;
    .card-title {
      font-size: 17px;
    }
  }
}

.partners {
  @include col;
  @include page-padding;
  width: 100%;
  background-color: rgb(30, 30, 30);

  &-title {
    @include page-title;
    margin: {
      top: 30px;
      bottom: 50px;
    }
  }

  &-container {
    @include row;
    @include res(width, 90%, 100%);
    max-width: calc($card-width * 4 + $card-margin * 8);
    flex-wrap: wrap;
  }
}
