@import './helper.scss';

.perf {
  @include col;
  @include page-padding;

  background-color: rgb(30, 30, 30);

  &-title {
    @include page-title;
  }

  &-description {
    white-space: pre-wrap;
    @include res(width, 100%, 85%);
  }

  &-container {
    @include row;
    width: 90vw;
    margin: {
      top: 50px;
      bottom: 20px;
    }

    * {
      @include res(width, 45vw, 40vw);
      height: 35vw;
      margin: {
        left: 10px;
        right: 10px;
      }
      object-fit: cover;
      border-radius: 20px;
    }
  }
}
