@import './helper.scss';

#perf {
  background-color: rgb(30, 30, 30);
}

.description {
  white-space: pre-wrap;

  @media screen and (max-width: 768px) {
    width: 85%;
  }
}

#container {
  width: 90vw;
  margin-top: 50px;
  margin-bottom: 20px;

  * {
    width: 45vw;
    @media screen and (max-width: 480px) {
      width: 40vw;
    }
    height: 35vw;
    margin-left: 10px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 20px;
  }
}
