@import './helper.scss';

.perf {
  background-color: rgb(30, 30, 30);

  &-description {
    white-space: pre-wrap;

    @include mobile {
      width: 85%;
    }
  }

  &-container {
    width: 90vw;
    margin: {
      top: 50px;
      bottom: 20px;
    }

    * {
      width: 45vw;
      @include mobile {
        width: 40vw;
      }
      height: 35vw;
      margin: {
        left: 10px;
        right: 10px;
      }
      object-fit: cover;
      border-radius: 20px;
    }
  }
}
