@tailwind base;
@tailwind components;
@tailwind utilities;
@import './components/helper.scss';

.App {
  text-align: center;
  padding-top: 64px;
  font-family: $sans;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.page-title {
  color: white;
  width: 100%;
  text-align: center;
  @include res(font-size, 50px, 30px);
  font: {
    weight: 900;
    family: $josefin;
  }
}

.page-padding {
  padding: {
    top: 150px;
    bottom: 150px;
  }

  @include mobile {
    padding: {
      top: 100px;
      bottom: 100px;
    }
  }
}
