@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  padding-top: 6rem;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
